@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.main{
  display: flex;
  flex-wrap: wrap;
}

h3, p{
  color: #A7A7A7;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

h2{
  color: #A7A7A7;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.header.box{
  background-color: #121212;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.header.box div{
  padding: 15px;
  margin-left: 10px;

  display: flex;
  align-items: center;
}

.header.box div h3{
  margin-left: 20px;
}

.header.box div:hover > h3{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.fixed{
  position: fixed;
  height: 100vh;
  width: 30vw;
}

.mainScreen{
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;

  width: 70vw;
  margin-top: 10px;
  margin-left: 30vw;
}

.albums-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero{
  display: flex;

  align-items: end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/hero-image.jpeg');
  background-size: cover;
  background-position: 300px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
}

.hero div{
  padding: 20px;
}

.hero div h2{
  font-size: 2em;
  color: white;
}

.hero div p{
  font-size: 1em;
  color: white;
  font-weight: 300;
}

.one-liner{
  display: flex;
  align-items: center;

  padding: 0 !important;
}

.one-liner img{
  margin-right: 5px;
}