@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.main{
  display: flex;
  flex-wrap: wrap;
}

h1, h1, h3, p{
  color: #A7A7A7;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

h2{
  color: #A7A7A7;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.header.box{
  background-color: #121212;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.header.box:nth-child(2){
  height: 77vh;
}

.header.box div{
  padding: 15px;
  margin-left: 10px;

  display: flex;
  align-items: center;
}

.header.box div h3{
  margin-left: 20px;
}

.header.box div:hover > h3{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.fixed{
  position: fixed;
  height: 100vh;
  width: 30vw;
}

.mainScreen{
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;

  width: 70vw;
  margin-top: 10px;
  margin-left: 31vw;
}

.albums-section{
  display: flex;
  flex-wrap: wrap;

  background-color: #121212;
  border-radius: 10px;
  padding: 20px;
}

.hero{
  display: flex;

  align-items: end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/images/hero-image.jpeg');
  background-size: cover;
  background-position: 300px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
}

.hero div{
  padding: 20px;
}

.hero div h1{
  font-size: 2.5em;
  color: white;
}

.hero div p{
  font-size: 1em;
  color: white;
  font-weight: 300;
}

.one-liner{
  display: flex;
  align-items: center;

  padding: 0 !important;
  font-weight: 400;
}

.one-liner img{
  margin-right: 5px;
}

.one-liner p:nth-child(1)::after{
  margin-right: 15px;
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
}

.cards-single{
  border-radius: 10px;
  padding: 50px 40px;
}

.cards-single h2{
  width: 200px;
  font-weight: 400;
}

.cards-single p:nth-child(2){
  margin-left: 10px;
}

.play-section{
  display: flex;
  align-items: center;
  padding: 1%;
}

.play-section img,.play-section h2{
  margin-right: 25px;
}

.play-section h2{
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  border: 1px solid #A7A7A7;
  border-radius: 30px;
  color: white;
}

.play-section h2:hover{
  border: 1px solid white;
  cursor: pointer;
}

.popular-section{
  width: 100%;
}

.popular-section h2:nth-child(1){
  margin-top: 40px;
  margin-left: 20px;
  font-size: 1.2em;

  font-weight: 600;
  color: white;
}

.popular-section h2, .popular-section p{
  font-weight: 400;
  color: #A7A7A7;
}

.single-theme{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 0 5px 0 !important;
}
.single-theme:hover{
  background-color: #a7a7a74c;
  cursor: pointer;
}

.songs-section{
  width: 100%;
  background-color: #121212;
  border-radius: 10px;
}

.popular-section{
  width: 100%;
}

.single-theme p{
  padding: 0 30px 0 30px;
  font-weight: 200;
}

.single-theme p:nth-child(4){
  padding: 0 250px 0 0 !important;
}

.single-theme h2{
  width: 400px;
  margin-left: 20px;
  color: white;
}

.albums-section{
  display: flex;
  flex-wrap: wrap;
}

.albums-section h2{
  font-weight: 400;
  color: white;
}

.cards-single:hover{
  background-color: #a7a7a74c;
  cursor: pointer;
}

.cards-single:hover > h2{
  color: white;
  text-decoration: underline;
}